<section class="author{% if site.disqus == false %} no-disqus{% endif %}">
    <div class="toleft">
         <img class="selfie" src="{{ site.url }}/{{ site.picture }}" alt="{{ site.name }}">
        
    </div>

    <div class="toright">
        <h4 class="name">{{ site.name }}</h4>
        <p class="bio">{{ site.bio }} <a href="{{ site.url }}/about">more...</a></p>

        <div class="share">


        
            <a class="twitter" href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }} - {{ page.title }} by @{{ site.github }}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg><span class="icon-twitter">Tweet</span>
            </a>

            <a class="facebook" href="javascript:void(0)" onclick="window.open('https://facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=626,height=436'); return false;">
                <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg><span class="icon-facebook-rect">Share</span>
            </a>
            <br/>
            <br/>
            <a data-pocket-label="pocket" style="padding-right:28px;" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
            <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>

        </div>
    </div>
</section>
